# Core
streamlit>=1.30.0
python-dotenv>=1.0.0
pandas>=2.1.0

# Audio Processing (CPU Friendly)
openai-whisper
pydub

# LLM & RAG
google-generativeai
langchain
langchain-community
langchain-text-splitters
faiss-cpu
sentence-transformers

# Reporting
fpdf
openpyxl

# Utils
python-multipart
matplotlib
